{{template "top" .}}
<title>New Pizza Order</title>
</head>
<body class="bg-gradient-to-br from amber-50 via-orange-50 to-rose-50">
<div>
<p>This will be other form page</p>
</div>
{{template "bottom" .}}
